@font-face {
    font-family: 'Baloo Bold';
    src: url(../fonts/BalooBhai2-Bold.ttf);
}
@font-face {
    font-family: 'Baloo ExtraBold';
    src: url(../fonts/BalooBhai2-ExtraBold.ttf);
}
@font-face {
    font-family: 'Baloo Medium';
    src: url(../fonts/BalooBhai2-Medium.ttf);
}
@font-face {
    font-family: 'Baloo Regular';
    src: url(../fonts/BalooBhai2-Regular.ttf);
}
@font-face {
    font-family: 'Baloo SemiBold';
    src: url(../fonts/BalooBhai2-SemiBold.ttf);
}