body {
    min-width: 1100px;
    min-height: 600px;
    max-width: 1440px;
    max-height: 900px;
    margin: 0 auto;
}
.wrapper {
    display: grid;
    grid-template: 1fr / minmax(45px, 0.21fr) minmax(360px, 1fr) minmax(400px, 0.71fr);
    width: 100%;
    height: 900px; 
    grid-gap: 70px;
    padding: 0 30px;
}
.left-side {
    display: flex;

}
.left-side aside {
    background-color: black;
    border-radius: 24px;
    height: 90%;
    width: 100%;
    margin: auto;
    box-shadow: 35px 25px 70px -22px black
}
.left-side aside img {
    margin: 0 auto;
    cursor: pointer;
}
.left-side aside .logo img {
    margin-top: 50px;
}
.left-side aside nav {
    height: 89%;
    position: relative;
}
.left-side aside nav img {
    margin-top: 63px;
}
.left-side aside nav img:nth-child(1) {
    margin-top: 100px;
}
.left-side aside nav img:last-child {
    position: absolute;
    margin: 0;
    bottom: 20%;
    left: 40%;
}
img {
    display: block;
}
.center {
    display: flex;
}
.center_pozition {
    height: 90%;
    width: 100%;
    margin: auto 0 0 0;
}
.center_header {
    width: 100%;
    height: 160px;
    background: #F5F5F7;
    border-radius: 14px;
    position: relative;
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
}
.center_header > * {
    display: inline-block;
}
.center_title {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}
.center_under-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.center_header_left-side {
    align-self: center;
    padding-left: 30px;
}
.center_header img {
    position: absolute;
    top: -20%;
    right: 20%;
    transform: translate(20%, 0);
    margin-left: -50%;
}

.current-course {
    display: grid;
    margin-top: 25px;
    grid-template: 80px / 0.8fr 0.2fr;
}
.current-course .elem-section_content {
    width: 100%;
    height: 100%;
    background: #F5F5F7;
    border-radius: 14px;
}
.current-course .elem-section_content {
    display: grid; 
    grid-template: 80px / 15% 40% 10% 35%;
}
.current-course .icon {
    width: 80%;
    height: 80%;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.current-course .icon img {
    margin: auto;
}
.current-course .content_text {
    align-self: center;
    justify-self: center;
}
.current-course .content_text .title {
    font-family: 'Baloo Bold', sans-serif;
    font-size: 16px;
    line-height: 26px;  
    font-style: normal;
    font-weight: normal;
}
.current-course .content_text .text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 15px;  
    font-style: normal;
    font-weight: normal;
}
.current-course .elem-section_progress {
    align-self: center;
    justify-self: center;
}
.current-course .elem-section_progress div {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
}
.current-course .elem-section_progress div img {
    position: absolute;
}
.current-course .elem-section_progress div p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    height: 13px;
    color: #000000;
    margin: auto;
}
.current-course .button {
    align-self: center;
    justify-self: center;
}
.current-course .button input {
    width: 100%;
    height: 40px;   
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: #000000;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 30px;
}
input:hover, input:focus, input:active {
    outline: none;
    border: none;
}
.arrows {
    justify-self: center;
    align-self: center;
    width: 100%;
    display: flex;
}
.arrows img {
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
.arrows img:nth-child(2) {
    margin: auto 0;
}


.course-list .elem-section {
    width: 100%;
    height: 100%;
    background: #F5F5F7;
    border-radius: 14px;
    margin-bottom: 16px;
}
.course-list .elem-section .elem-section_content {
    display: grid; 
    grid-template: 80px / 12% 32% 15% 15% 26%;
}
.course-list .elem-section .icon {
    width: 80%;
    height: 80%;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    align-self: center;
    justify-self: center;
}
.course-list .elem-section .icon img {
    margin: auto;
}
.course-list .elem-section .content_text {
    align-self: center;
    justify-self: center;
}
.course-list .elem-section .content_text .title {
    font-family: 'Baloo Bold', sans-serif;
    font-size: 16px;
    line-height: 26px;  
    font-style: normal;
    font-weight: normal;
}
.course-list .elem-section .content_text .text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 15px;  
    font-style: normal;
    font-weight: normal;
}
.course-list .elem-section .tools {
    align-self: center;
    justify-self: center;
    width: 100%;
}
.course-list .elem-section div:nth-child(3) .cont {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
}
.course-list .elem-section div:nth-child(4) .cont {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
}
.course-list .elem-section div:nth-child(3) .cont img {
    position: relative;
    width: 16px;
    height: 16px;
    margin: auto 0 auto;
}
.course-list .elem-section div:nth-child(4) .cont img {
    position: relative;
    width: 16px;
    height: 16px;
    margin: auto 0 auto auto;
}
.course-list .elem-section .tools .cont p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    height: 13px;
    color: #000000;
    margin: auto auto auto 5%;
}
.course-list .elem-section .button {
    align-self: center;
    justify-self: center;
}
.course-list .elem-section .button input {
    width: 100%;
    height: 40px;   
    font-size: 13px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: #000000;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 15px;
}

.course-list .course-list_title-nav .title {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 17px;
}
.course-list .course-list_title-nav #first {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    margin-right: 30px;
    color: #000000;
    opacity: 1;
}
.course-list .course-list_title-nav #last {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    margin-right: 0;
    color: #000000;
    opacity: 0.3;
}
.course-list .course-list_title-nav .text {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    margin-right: 30px;
    color: #000000;
    opacity: 0.3;
    margin-bottom: 10px;
}
.course-list {
    margin-top: 40px;
}

.section-right {
    display: flex;
}
.section_ {
    height: 90%;
    width: 100%;
    margin: auto 0 0 0;
}
.search {
    position: relative;
    display: inline-block;
    width: 65%;
}
.search input {
    width: 100%;
    height: 40px;
    background: #F5F5F7;
    border-radius: 8px;
    border: none;
    padding-left: 50px;
}
.search .input {
    width: 100%;
    display: inline-block;
}
.search .input::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/lupe.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 25%;
    left: 3%;
}

.search-ava {
    display: inline-block;
    position: relative;
    width: 35%;
    height: 40px;
    float: right;
}
.search-ava img {
    display: inline-block;
}
.search-ava img:nth-child(1) {
    left: 27%;
    top:-10%;
    position: relative;
}
.search-ava img:nth-child(2) {
    float: right;
}

.blocks {
    display: grid;
    grid-template: 96px / 1fr 1fr;    
    grid-gap: 5%;
    margin-top: 23px;
}
.blocks div {
    width: 100%;
    height: 100%;
    background: #F5F5F7;
    border-radius: 14px;
    padding-left: 35px;
}
.blocks div .number {
    display: inline-block;
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 102px
}
.blocks div .text {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 90px;
    padding-left: 10px;
}
.diagramma {
    margin-top: 40px;
}
.diagramma .title {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 17px;
}
.diagramma #first_1 {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    margin-right: 30px;
    color: #000000;
    opacity: 1;
}
.diagramma #last_1 {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    margin-right: 0;
    color: #000000;
    opacity: 0.3;
}
.diagramma .text {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    margin-right: 30px;
    color: #000000;
    opacity: 0.3;
    margin-bottom: 10px;
}
.diagramma .list-input {
    display: flex;
    float: right;
    width: 88px;
    height: 32px;
    background: #F5F5F7;
    border-radius: 8px;
    position: relative;
    top: -5px;
    cursor: pointer;
}
.diagramma .list-input::after {
    content: '';
    width: 7px;
    height: 7px;
    background-image: url(../img/arrow-input.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 20%;
    top: 45%;
}
.diagramma .list-input .list {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    margin: auto auto auto 17%;
}

#diagrama {
    margin-top: 32px;
}
.learn-even {
    width: 100%;
    height: 193px;
    background: #F5F5F7;
    border-radius: 14px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    margin-top: 50px;
}
.learn-even div {
    justify-self: center;
    align-self: center;
}
.learn-even div:first-child {
    width: 200px;
    padding-left: 22px;
}
.learn-even .title {
    font-family: 'Baloo Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
}
.learn-even .text {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.learn-even input {
    width: 60%;
    height: 40px;   
    font-size: 13px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: #000000;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0 15px;
    margin-top: 10px;
}