body {
    display: flex;
    flex-direction: column;
}
.header_nav {
    padding: 50px 0 130px;
}
.wrapper {
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}
.header_navig-tools {
    display: flex;
    align-items: center;
    
}
.header_navig-tools_logo {
    width: 49px;
    height: 35px;
    margin-right: 121px;
}
.header_navig-tool-bar {
    display: flex;
    max-width: 322px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header_navig-tools_item {
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4B5D68;
    margin-left: 40px;
    cursor: pointer;
}
.header_navig-tools_item:first-child ,
.header_navig-tools_item:hover{
    margin: none;
    font-weight: 800;
}
.header_request-demo_btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 50px;
    border: none;
    padding: 17px 20px 17px 29px;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    outline: none;
    color: #212353;
    cursor: pointer;
}
.header_request-demo_btn:hover {
    background-color: #F063B8;
}
.header_request-demo_arrow {
    margin-left: 20px;
    width: 20px;
    height: 14px;
}
.header_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 645px;
    height: 464px;
}
.header_uppercase-text {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
    margin-bottom: 50px;
}
.header_regular-text {
    width: 380px;
    height: 120px;
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-bottom: 50px;
}
.header_learn-more-button {
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background: #9C69E2;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    padding-left: 32px;    
}
.header_learn-more-button:hover {
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.5);
    background-color: #F063B8;
}
.header_header-img {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 533px;
    top: 336px;
}
.middle_card {
    margin-top: 200px;
    margin-bottom: 150px;
}
.middle_card_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:  center;
    align-items:  center;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.middle_card_img {
    width: 477px;
    height: 504px;
}
.middle_card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.middle_card_uppercase-text {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;   
    color: #212353;
    margin: 125px 92px 40px 0px;
}
.middle_card_regular-text {
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-right: 93px;
    margin-bottom: 125px;
}
.middle_features-block_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle_features-block_header {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;  
    color: #212353;
}
.middle_features-block_under-header {
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    width: 584px;
    text-align: center;
}
.middle_features-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 149px;
    row-gap: 132px;
    column-gap: 95px;
}
.middle_features-block_content {
    max-width: 535px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.middle_features-block_img-top-left {
    width: 232px;
    height: 211px;
    align-self: center;
}
.middle_features-block_text {
    display: flex;
    flex-direction: column;
}
.middle_features-block_header {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
    margin-bottom: 40px;    
}
.middle_features-block_paragraph {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    height: 160px;
    margin-bottom: 40px;    
}
.middle_features-block_btn {
    width: 190px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    border: none;
    padding: 17px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;  
    cursor: pointer;
}
.middle_features-block_btn:hover {
    background-color: #F063B8;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.5);
}
.middle_features-block_arrow {
    margin-left: 20px;
}

.middle_features-block_img-top-right {
    width: 241px;
    height: 185px;
    align-self: center;
}
.middle_features-block_img-bottom-left {
    width: 245px;
    height: 181px;
    align-self: center;
}
.middle_features-block_img-bottom-right {
    width: 230px;
    height: 201px;
    align-self: center;
}
.middle_testimonials-block {
    margin-top: 183px;
}
.middle_testimonials-background {
    background: #9C69E2;
    border-radius: 50px;
    width: 100%;
    height: auto;
}
.middle_testimonials-background_wrapper {
    width: 949px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.middle_testimonials-block_header {
    margin-top: 109px;
    margin-bottom: 88px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
}
.middle_testimonials-block_content {
    width: 100%;
    margin-bottom: 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgb(126 80 192 / 30%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 60px 100px 50px;
}
.middle_testimonials-block_img {
    width: 132px;
    height: 90px;
}
.middle_testimonials-block_text {
    display: grid;
    grid-template-rows: 2fr 1fr 5fr;
}
.middle_testimonials-block_name {
    margin-top: 20px;
    font-family: 'Avenir',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
}
.middle_testimonials-block_email {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #9C69E2;
    cursor: pointer;
}
.middle_testimonials-block_paragraph {
    margin-top: 20px;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}
.middle_testimonials-block_slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 62px;
}
.middle_testimonials-block_dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle_testimonials-block_dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
}
.middle_testimonials-block_dot:hover ,
.middle_testimonials-block_dot:first-child {
    width: 10px;
    height: 10px;
    background: #F063B8;
}
.middle_testimonials-block_left-arrow {
    margin-right: 20px;
    cursor: pointer;    
}
.middle_testimonials-block_right-arrow {
    cursor: pointer;
}
.purpule-border {
    margin-top: 150px;
    margin-bottom: 100px;
    width: 100%;
    height: 2px;
    background-color: #9C69E2;
    opacity: 0.2;
}
.footer {
    margin-bottom: 91px;
}
.bottom_try-4-free {
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.bottom_try-4-free_header {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    margin-bottom: 20px;
}
.bottom_try-4-free_under-header {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.bottom_button-1 {
    background: #F063B8;
    margin: 0;
    margin-left: 385px;
    margin-right: 30px;
}
.bottom_button-1:hover {
    background: #9C69E2;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.5);
}
.bottom_button-2 {
    margin: 0 auto;
    height: 60px;
}
.bottom_footer {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 3fr;
    grid-template-rows:408px;
    column-gap: 10px;
    width: 100%;
    margin-bottom: 91px;
}
.bottom_footer_main-coloumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
.bottom_footer_main-coloumn_logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 65px;
}
.bottom_logo {
    margin-right: 20px;
}
.bottom_footer_header {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
}
.bottom_footer_main-coloumn_adress {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin-bottom: 10px;
}
.bottom_footer_main-coloumn_contacts {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
}
.bottom_footer_main-coloumn_copyright {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin-top: auto;
}
.bottom_footer_second-coloumn, 
.bottom_footer_third-coloumn,
.bottom_footer_fourth-coloumn {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    color: #212353;
}
.bottom_footer_second-coloumn_header,
.bottom_footer_third-coloumn_header,
.bottom_footer_fourth-coloumn_header {
    font-weight: 900;
    margin-bottom: 30px;
}
.bottom_footer_third-coloumn {
    margin-left: 20px;
}
.bottom_footer_fourth-coloumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bottom_footer_fourth-coloumn_icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 178px;
}
.bottom_footer_fourth-coloumn_messager {
    margin-left: auto;
    margin-top: auto;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.bottom_footer_fourth-coloumn_icons>img {
    cursor: pointer;
}